# Used Car Data

## In this project I will be using the pandas library to further clean the data before creating visualizations in Tableau

In [1]:
# Import Libraries
import pandas as pd

In [2]:
# Create a DataFrame
df = pd.read_csv("train_cleaned.csv")

In [3]:
# Show data
df

,Name,Location,Year,Miles_Driven,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mpg,Mileage km/l,Engine,Power,Seats,New_Price,Price,Difference
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,25420,41000,Diesel,Manual,First,46.22,19.67,1582 CC,126.2 bhp,5.0,NaN,12.50,12.5
1,Honda Jazz V,Chennai,2011,28520,46000,Petrol,Manual,First,30.55,13.00,1199 CC,88.7 bhp,5.0,8.61,4.50,4.11
2,Maruti Ertiga VDI,Chennai,2012,53940,87000,Diesel,Manual,First,48.81,20.77,1248 CC,88.76 bhp,7.0,NaN,6.00,6
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,25215,40670,Diesel,Automatic,Second,35.72,15.20,1968 CC,140.8 bhp,5.0,NaN,17.74,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,53939,86999,Diesel,Manual,First,54.24,23.08,1461 CC,63.1 bhp,5.0,NaN,3.50,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,16966,27365,Diesel,Manual,First,66.74,28.40,1248 CC,74 bhp,5.0,7.88,4.75,3.13
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,62000,100000,Diesel,Manual,First,57.34,24.40,1120 CC,71 bhp,5.0,NaN,4.00,4
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,34100,55000,Diesel,Manual,Second,32.90,14.00,2498 CC,112 bhp,8.0,NaN,2.90,2.9
5845,Maruti Wagon R VXI,Kolkata,2013,28520,46000,Petrol,Manual,First,44.42,18.90,998 CC,67.1 bhp,5.0,NaN,2.65,2.65
5846,Chevrolet Beat Diesel,Hyderabad,2011,29140,47000,Diesel,Manual,First,59.78,25.44,936 CC,57.6 bhp,5.0,NaN,2.50,2.5

In [8]:
# Drop null values and remove duplicates
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)

In [15]:
# Remove values of 0
df = df[(df != 0).all(axis=1)]

In [16]:
# The cleaned data frame
df

,Name,Location,Year,Miles_Driven,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mpg,Mileage km/l,Engine,Power,Seats,New_Price,Price,Difference
1,Honda Jazz V,Chennai,2011,28520,46000,Petrol,Manual,First,30.55,13.00,1199 CC,88.7 bhp,5.0,8.61,4.50,4.11
5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,22320,36000,Diesel,Automatic,First,26.70,11.36,2755 CC,171.5 bhp,8.0,21.00,17.50,3.5
8,Maruti Ciaz Zeta,Kochi,2018,15929,25692,Petrol,Manual,First,50.67,21.56,1462 CC,103.25 bhp,5.0,10.65,9.95,0.7
13,Mitsubishi Pajero Sport 4X4,Delhi,2014,68200,110000,Diesel,Manual,First,31.73,13.50,2477 CC,175.56 bhp,7.0,32.01,15.00,17.01
18,BMW 3 Series 320d,Kochi,2014,20449,32982,Diesel,Automatic,First,53.32,22.69,1995 CC,190 bhp,5.0,47.87,18.55,29.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,Tata Bolt Revotron XT,Chennai,2016,6200,10000,Petrol,Manual,First,41.29,17.57,1193 CC,88.7 bhp,5.0,7.77,4.00,3.77
5830,Volkswagen Vento 1.6 Highline,Mumbai,2011,23560,38000,Petrol,Manual,First,37.81,16.09,1598 CC,103.5 bhp,5.0,11.91,3.25,8.66
5833,Maruti Vitara Brezza VDi,Pune,2016,23069,37208,Diesel,Manual,First,57.11,24.30,1248 CC,88.5 bhp,5.0,9.93,7.43,2.5
5838,Honda Brio 1.2 VX MT,Delhi,2013,20923,33746,Petrol,Manual,First,43.48,18.50,1198 CC,86.8 bhp,5.0,6.63,3.20,3.43
5842,Maruti Swift VDI,Delhi,2014,16966,27365,Diesel,Manual,First,66.74,28.40,1248 CC,74 bhp,5.0,7.88,4.75,3.13

In [17]:
# Exports the newly created file into an Excel format
df.to_excel('fully_cleaned_data.xlsx', index=False)